.game {
  margin: 20px 0;
  min-height: calc(100svh - 115px);
}

.information {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.soundTrigger {
  cursor: pointer;
  height: 32px;
}
.soundTrigger > img {
  opacity: 0.8;
  width: 32px;
}

.passButton {
  transition: opacity 0.2s;
  border-radius: 8px;
  background-color: rgb(40, 40, 40);
  padding: 5px 10px;
  color: white;
}
.passButton:not(:disabled):hover {
  opacity: 0.8;
  cursor: pointer;
}
.passButton:disabled {
  background-color: gray;
}

.error {
  text-align: center;
}

.replay {
  margin-left: 5px;
  color: blue;
  text-decoration: underline;
}

.reversiBoardWrapper {
  position: relative;
}
