html {
  background-color: antiquewhite;
}

body {
  font-family: sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  width: calc(100% - 20px);
}

h1 {
  text-align: center;
  height: 65px;
  font-weight: bold;
  margin: 25px 0;
}

footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}
